.tarjeta{
  background-color: #gray; 
}

/* 
  la imagen mide ancho 298 y alto 210.
  el primer parametro del padding afecta arriba y abajo 12x2=24 + 186 = 210
  el segundo valor del padding afecta derecha e izq. 7x2=14 + 284 = 298
*/
#divTarjeta {
  background: white;
  position: absolute; 
  padding:12px 7px;
  height:140px;
  width:384px;
  left:100px;
  top:120px;
  z-index: 100;
  
	border: 1px solid gray;
	padding: 15px;
	
 	-moz-box-shadow: 0 1px 6px 0px #6E6E6E;
  	-webkit-box-shadow: 0 1px 6px 0px #6E6E6E;
	box-shadow: 0 1px 6px 0px #6E6E6E;
}