#backgroundPopup {
	display: none;
	position: fixed;
	background:white;
	_position: absolute; /* hack for internet explorer 6*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border: 1px solid #cecece;
	z-index: 1;
}

#popupContact {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: 85%;
	width: 60%;
	background: white;
	border: 1px solid gray;
	z-index: 2;
	padding: 12px;
	font-size: 13px;
	
	-moz-box-shadow: 0 1px 6px 0px #6E6E6E;
   	-webkit-box-shadow: 0 1px 6px 0px #6E6E6E;
	box-shadow: 0 1px 6px 0px #6E6E6E;
	z-index:100000000000000;
}

#popupContactClose {
	font-size: 14px;
	line-height: 14px;
	right: 6px;
	top: 4px;
	position: absolute;
	color: gray;
	font-weight: 700;
	display: block;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}